{% extends "view/layout/admin.html" %}
{% import "components/stat-card.html" as StatCard %}

{% block content %}
<div class="page-body">
    <div class="container-xxl">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        </div>
        <div class="row">
            {{ StatCard.get('Total skills', skills_count, 'code', 'primary') }}
            {{ StatCard.get('Projects', projects_count, 'folder', 'success') }}
        </div>
    </div>
</div>
{% endblock %}